html, body {
    width: 100%;
    height: 100%;
    overflow-x:visible;
    font-family: 微软雅黑;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -ms-touch-action: none;
}
body {
    font-family: 微软雅黑;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}





#wrapper {
    position: absolute;
    z-index: 1;
    top: 0.88rem;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding-bottom: 1rem;
}
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#serhShow {
    position: absolute;
    z-index: 1;
    top: 0.88rem;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    overflow: hidden;
}
#scroll {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#exh_page {
    position: absolute;
    z-index: 1;
    top: 2.7rem;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background: #ccc;*/
    overflow: hidden;
}
#exh_croll {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#favopage {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background: #ccc;*/
    overflow: hidden;
}
#favo {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#coun_page {
    position: absolute;
    z-index: 1;
    top: 2.7rem;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background: #ccc;*/
    overflow: hidden;
}
#con_coll {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#int_pages {
    position: absolute;
    z-index: 1;
    top:0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f0eff5;
    overflow: hidden;
}
#int_page {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#clas_page {
    position: absolute;
    z-index: 1;
    top: 2.7rem;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background: #ccc;*/
    overflow: hidden;
}
#clas_croll {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#pose_page {
    position: absolute;
    z-index: 1;
    top: 2.7rem;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background: #ccc;*/
    overflow: hidden;
}
#pose_roll {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#trend_pages {
    position: absolute;
    z-index: 1;
    top: 2.7rem;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background: #ccc;*/
    overflow: hidden;
}
#trend_page {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#trend_pages_1 {
    position: absolute;
    z-index: 1;
    top: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background: #ccc;*/
    overflow: hidden;
}
#trend_1 {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#trend_pages_2 {
    position: absolute;
    z-index: 1;
    top: 0.48rem;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#trend_2 {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#synt_page1{
    position: absolute;
    z-index: 1;
    top:35px;
    bottom: 0;
    left: 0;
    width: 100%;
    background:#f0eff5 ;
    overflow: hidden;
}
#synt_one{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#synt_page2{
    position: absolute;
    z-index: 1;
    top:35px;
    bottom: 0;
    left: 0;
    width: 100%;
    background:#f0eff5 ;
    overflow: hidden;
}
#synt_tow{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#itiner_one{
    position: absolute;
    z-index: 1;
    top:35px;
    bottom: 0;
    left: 0;
    width: 100%;
    background:#f0eff5 ;
    overflow: hidden;
}
#itin_1{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#itiner_tow{
    position: absolute;
    z-index: 1;
    top: 35px;
    bottom: 0;
    left: 0;
    width: 100%;
    background:#f0eff5 ;
    overflow: hidden;
}
#itin_2{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}
#clip_one{
    position: absolute;
    z-index: 1;
    top: 35px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#clip_1{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}





* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
html {
    font-size: 100px;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
/**----------swiper-container-----------------------------------------**/

#page0 ,#page1,#page2{
    opacity: 1;
}
.main,
.swiper-container,
.swiper-wrapper,
.swiper-slide {
    width: 100%;
    height: 100%;
}
.swiper-slide-active { height:auto}
/*-----------------------------index-----------------------------------*/
.font {
    font-size: 0.24rem;
    color: #636363;
}

.logo {
    width: 100%;
    height: 4.5rem;
    background: url("../img/logo.png")no-repeat;
    background-size: 100% 100%;
}

.list-pages {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}

.list-pages .list-page li {
    width: 100%;
    height: 1.1rem;
    border-bottom: 1px solid #dad9df;
    margin-left: 1.42rem;
    line-height: 1.1rem;
    position: relative;
    font-size: 0.24rem;
    color: #636363;
}

.list-pages .icons {
    width: 1.42rem;
    height: 100%;
}

.icons .icon {
    float: left;
    width: 100%;
    height: 1.1rem;
}

.icons .icon li {
    left: 50%;
    top: 50%;
    margin-left: 0.3rem;
    margin-top: 0.25rem;
    float: left;
    width: 0.65rem;
    height: 0.65rem;
}
.icons .icon:nth-child(1) li{
    background: url("../img/in_icon.png") 0 0 no-repeat;
    background-size: 1.5rem;
}
.icons .icon:nth-child(2) li{
    background: url(../img/in_icon.png) -0.89rem 0 no-repeat;
    background-size: 1.5rem;
}
.icons .icon:nth-child(3) li{
    background: url(../img/in_icon.png) 0 -0.73rem no-repeat;
    background-size: 1.5rem;
}
.icons .icon:nth-child(4) li{
    background: url(../img/in_icon.png) -0.85rem -0.7rem no-repeat;
    background-size: 1.5rem;
}
.icons .icon:nth-child(5) li{
    background: url(../img/in_icon.png) 0 -1.43rem no-repeat;
    background-size: 1.5rem;
}
.icons .icon:nth-child(6) li{
    background: url(../img/in_icon.png) -0.82rem -1.43rem no-repeat;
    background-size: 1.5rem;
}
.icons .icon:nth-child(7) li{
    background: url(../img/in_icon.png) 0 -2.17rem no-repeat;
    background-size: 1.5rem;
}
.icons .icon:nth-child(8) li{
    background: url(../img/in_icon.png) -0.79rem -2.15rem no-repeat;
    background-size: 1.5rem;
}


.list-pages .list-page li span {
    position: absolute;
   right: 2rem;
    top: 0.3rem;
    display: inline-block;
    width: 0.48rem;
    height: 0.48rem;
    background: url(../img/in_icon.png) -0.75rem -0.6rem no-repeat;
    background-size: 2rem;
}
.list-page li:nth-child(8){
    border-bottom: none;
}
.footer{
    width: 100%;
    height: 1rem;
    background: #f0eff5;
}
/*--------------------------------- search---------------------------------*/
.search_pages {
    width: 100%;
    height: 0.88rem;
}
#wrapper {
    position: absolute;
    top:0.88rem;
    left:0;
    width:100%;
    overflow: scroll;

}
.search_pages .search .cancel_icon {
    display: block;
    width: 0.30rem;
    height: 0.30rem;
    position: absolute;
    right: 0.35rem;
    top: 0.3rem;
    background: url(../img/icon.png) 0rem   0rem no-repeat;
    background-size: 1rem;
    display: none;

}
.search_page .search {
    height: 0.88rem;
    line-height: 0.88rem;
    background: #26adc6;
    float: left;
    padding: 0 0.17rem;
    z-index: 10;
    position: relative;
    overflow: hidden;
}
.search_page .search input {
    border-radius: 5px;
    width: 6.3016rem;
    padding-left: 0.5rem;
    height: 0.56rem;
    outline: none;
    border: none;
    font-size: 0.26rem;
}
.search_page .search i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -0.15rem;
    margin-left: 0.15rem;
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../img/icon.png) -0.4rem -01.48rem no-repeat;
    background-size: 1.2rem;
}
.search_page .search .search_i {
    position: absolute;
    top: 50%;
    display: none;
    left: 0.15rem;
    margin-top: -0.15rem;
    margin-left: 0.15rem;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../img/icon.png) -0.4rem -01.48rem no-repeat;
    background-size: 1.2rem;
}
.search_page .search_icon {
    height: 0.88rem;
    line-height: 0.88rem;
    width: calc(100% - 6.642rem);
    text-align: center;
    float: right;
    background: #26adc6;
    color: #fff;
    font-size: 0.25rem;
}
.search_page .search_icon .cancel {
    font-size: 0.25rem;
    color: #4d9937;
    height: 0.88rem;
    width: calc(100% - 6.641rem);
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
     display: block;
    line-height: 0.88rem;
    display: none;
    background: #c9c8ce;
}
.search_page .search_nav {
    width: 100%;
    border-bottom: 1px solid #91c9d8;
    border-top: 1px solid #e1e1e1;
    height: 0.88rem;
    background: #26adc6;
    display: none;
}

.search_page .search_nav, .search_page .search_nav ul {
    width: 100%;
    height: 0.88rem;
}

.search_page .search_nav li {
    width: 1.85rem;
    line-height: 0.88rem;
    float: left;
    text-align: center;
    position: relative;
    font-size: 0.28rem;
    color: #fff;

}

.search_page .search_nav li span {
    width: 0.3rem;
    height: 0.2rem;
    background-size: 1rem;
    display: inline-block;
    margin-left: 0.2rem;
}
._chenge{
    background: url(../img/icon.png) -0.65rem -1.3rem no-repeat;
}
._chengeA{
    background: url(../img/icon.png) -0.65rem -1.12rem no-repeat;
}
.search_page .search_nav ul i {
    display: block;
    float: left;
    margin-top: 0.2rem;
    width: 0.02rem;
    height: 0.4rem;
    background: #e1e1e1;
}

.search_elect {
    width: 100%;
    height: 0.88rem;
}

.search_elect span {
    width: 50%;
    display: block;
    float: left;
    line-height: 0.88rem;
    height: 0.88rem;
    text-align: center;
    font-size: 0.24rem;
}

.search_elect span:nth-child(1) {
    color: #1680d1;
}

.search_elect span:nth-child(2) {
    color: #e1e1e1
}

.search_pages .search_lists h2 {
    width: 100%;
    height: 0.56rem;
    background: yellow;
    line-height: 0.56rem;
    padding-left: 0.30rem;
}

.search_pages .search_lists ul li {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.30rem;
    border-bottom: 1px solid #000000;
    margin-left: 0.30rem;

}

.search_pages .search_lists ul li i {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    background: #ffff00;
}

/*---------------------------infor------------------------------------*/
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.exh_infor {
    width: 100%;
    height: 100%;
    position: relative;
}

.infor_list {
  padding: 0.1rem 0;
}

.infor_list .exh_infor_li {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.3rem 0 0.3rem 0;
    position: relative;
}

.infor_list .exh_infor_li p {
    font-size: 0.35rem;
    color: #616161;
    margin-left:0.3rem ;
}

.infor_list .exh_infor_li .country {
    display: inline-block;
    width: 2.67rem;
    margin-left: 0.3rem;
}
.infor_list .exh_infor_li .collect_oppen p{
    margin-left: 0;
}
.infor_list .exh_infor_li .country, .infor_list .exh_infor_li .location {
    font-size: 0.3rem;
    line-height: 0.5rem;
    color: #a2a2a2;
}

.infor_list .exh_infor_li .location {
    font-style: normal;
}

.infor_list .exh_infor_li_icon {
    position: absolute;
    width: 0.3rem;
    height: 0.2rem;
    top: 0.66rem;
    left: 6.8rem;
}
.chenge{
    background: url(../img/icon.png) -0.0rem -01.65rem no-repeat;
    background-size: 1.2rem;
}
.chengeA{
    background: url(../img/icon.png) -0.0rem -1.4rem no-repeat;
    background-size: 1.2rem;
}

.exh_infor_li .particular_infor {
    margin-top: 0.3rem;
    width: 100%;
    display: none;
}

.exh_infor_li .particular_infor_icon {
    width: 100%;
    padding: 0.12rem 0 0.12rem 0;

}

.exh_infor_li .particular_infor_icon span {
    display: block;
    width: 1.84rem;
    height: 1.32rem;
    border: 0.02rem solid #f9f9f9;
    background: yellow;
    vertical-align: bottom;
    margin: auto;
}

.particular_list .particular_country {
    width: 100%;
    height: 1rem;
    text-align: center;
    font-size: 0.35rem;
}

.particular_list li {
    padding: 0.3rem 0;
    height: 0.88rem;
    /*line-height: 0.88rem;*/
}
.particular_list li span{
    font-size: 0.3rem;
    display:block;
    float: left;
    height: 0.88rem;
    line-height: 0.88rem;
    width:1.4rem ;
    margin-left: 0.3rem;

}
.particular_infor .particular_list .category {
    font-size: 0.27rem;
    display: block;
    float: left;
    width: calc(100% - 2rem);
    height: 0.88rem;
    padding-top:0.25rem ;
    /*line-height: 0.88rem;*/
}

.particular_infor .collect_oppen {
    margin-top: 0.2rem;
    width: 100%;
    height: 1.55rem;
}

.particular_infor .collect_oppen .collect, .particular_infor .collect_oppen .oppen {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.particular_infor .collect_oppen .oppen_icon, .particular_infor .collect_oppen .collect_icon {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0.2rem auto;
    background-size: 0.9rem;
}
.collChenge{
    background: url(../img/icon.png) -0.35rem -0.49rem no-repeat;
}
.oppenChenge{
    background: url(../img/icon.png) -0.365rem 0.056rem no-repeat;
}
.particular_infor .collect_oppen p {
    font-size: 0.2rem;
}

.particular_infor .color-block {
    width: 100%;
    height: 0.7rem;
    margin: 0 0 -0.3rem 0;
    background: #f0eff5;
}

/*-----------------------search_show-------------------------*/
.search_show  .history{
    width: 100%;

}
.search_show .search_infor {
    width: 100%;
    padding-bottom: 0.03rem;
}

.search_show .search_infor p, .search_show .history .hisp, .exh_infor .classes_page p {
    width: 100%;
    padding-left: 0.3rem;
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.3rem;
    background: #f7f7f7;
}

.search_show .search_infor_nav {
    width: 100%;
    padding: 0.2rem 0 0.27rem 0.3rem;
}

.search_show .search_infor_nav li {
    padding: 0.1rem;
    margin: 0.14rem 0.18rem 0 0;
    font-size: 0.3rem;
    display: inline-block;
    border: 1px solid #c9c9c9;
    border-radius: 30px;
}

.search_show .history_list li {
    width: 100%;
    padding: 0.25rem;
    font-size: 0.3rem;
    border-bottom: 1px solid #d6d6d7;
}

.search_show .clear_history {
    display: none;
    width: 100%;
    height: 0.88rem;
    text-align: center;
    font-size: 0.36rem;
    line-height: 0.88rem;
    border-bottom: 1px solid #d6d6d7;
}

.search_show .clear_history .clear_history_icon {
    display: inline-block;
    width: 0.42rem;
    height: 0.42rem;
    background: url(../img/icon.png) 0 -0.99rem no-repeat;
    background-size: 1.2rem;
    vertical-align: middle;

}
.onclear_show {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.onclear_show .delete_his {
    width: 5.4rem;
    height: 1.92rem;
    position: absolute;
    left: 50%;
    margin-left: -2.7rem;
    bottom: 6rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
}

.onclear_show .delete_his p {
    font-size: 0.3rem;
    line-height: 0.8rem;
}

.onclear_show .delete_his span {
    display: block;
    float: left;
    width: 50%;
    line-height: 1.1rem;
    height: 1.1rem;
}

/*----------------------classes_page-----------------------*/

.exh_infor .classes_page, .purpose_page, .exhibition_page, .country_pages {
    width: 100%;
    height: 100%;
    display: none;
}

.classes_page ul li, .purpose_page ul li, .exhibition_page ul li, .country_pages ul li {
    width: 100%;
    padding: 0.25rem;
    font-size: 0.3rem;
    border-bottom: 1px solid #d6d6d7;
}

.classes_page ul li i, .purpose_page ul li i, .exhibition_page ul li i, .country_pages ul li i {
    display: block;
    float: right;
    margin-right: 0.5rem;
    width: 0.35rem;
    height: 0.35rem;
    background: red;
    display: none;
}

.hisp {
    width: 100%;
    padding-left: 0.3rem;
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.3rem;
    background: #f7f7f7;
}

/*-----------------favorite.html-----------------------------*/
.favorite {
    width: 100%;
    height: 100%;
}
.pad{
    padding-left: 0.3rem;
}
.favorite .favorite_list {
    width: 100%;
    height: 6.4rem;
}
.favorite .favorite_list .color_block{
    width: 100%;
    height:0.7rem;
    background:#f0eff5;
    border-bottom: 0.01rem;
}
.favorite .merchant_infor{
    border-bottom: 0.01rem solid #c7c7c9;
    padding-bottom: 0.05rem;
    position: relative;
}
.favorite .merchant_infor h2{
    font-size: 0.32rem;
    font-weight: 500;
}
.favorite .merchant_infor span{
    font-size: 0.24rem;
}
.favorite .merchant_infor .fa_country{
    display: inline-block;
    width:1.85rem ;
}
.favorite .fa_infor_list li{
    font-size: 0.28rem;
    line-height: 0.7rem ;
}
.favorite .fa_infor_list li span{
    font-size: 0.23rem;
    color: #b7b7b7;
    display: inline-block;
    float: right;
    margin-right: 0.3rem;
}
.favorite .merchant_infor i{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../img/icon.png) -0rem -0.9rem;
    background-size: 1.2rem;
    position: absolute;
    right: 0.3rem;
    top:0.1rem;
}
.no_collection{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0,0,0,0.5);
    display: none;
}
.no_collection .no_collect{
    width: 60%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.3rem;
    text-align: center;
    margin: 4rem auto;
    background: rgba(255,255,255,0.7);
}
/*------------------------流行趋势页面------------------------------------------------*/
.swiper-wrapper .trend_nav{
   position: absolute;
    width: 100%;
    height: 25px;
    line-height: 25x;
    background: #fff;
    top:0;
    left: 0;
    z-index: 10;
    padding: 0.01rem  0;
}
.trend_nav .nav_left{
    width: 45%;
    height: 100%;
    margin-left: 5%;
    float: left;
    line-height: 25px;
    text-align: center;
    background: #118be3;
    color: #fff;
    border-radius: 5px;
}
.trend_nav .nav_right{
    width:45%;
    height: 100%;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    float: left;
    background: #fff;
    color: #118be3;
}
.trend_one{
    width: 100%;
    height: 100%;

}
.trend_one img{
    width: 100%;
    height: 100%;
}
.trend_tow img{
    width: 100%;
    height: 100%;
}
/*----------------------------综合信息------------------------------------*/
.syn_nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    background:#f0eff5;
    font-size: 0.25rem;
}
.syn_nav .syn_nav_1{
    margin: 0 auto;
    width: 5rem;
    height: 100%;
    line-height: 35px;
}
.syn_nav .syn_left{
    width: 50%;
    float: left;
    margin-left: 0;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    /*background: #1c90fd;*/
    color: #fff;
    border: 1px solid #1c90fd;
}
.syn_nav .syn_right{
    border: 1px solid #1c90fd;
    color:#1c90fd ;
    width: 50%;
    float: left;
    height: 100%;
    margin-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    text-align: center;
}
.exhibition{
    width: 100%;
}
.exhibition_l,.Showground_l,.opening_time_l,.entrance_l,.organizer_l,.sponsor_l,.Supporters_l,._supporters_l,.news_l,.contractor_l,.forwarder_l,.travel_l{
    width: 1.8rem;
    float: left;
    text-align: right;
}
.exhibition_l h3,.Showground_l h3,.opening_time_l h3,.entrance_l h3,.organizer_l h3,.sponsor_l h3,.Supporters_l h3,._supporters_l h3,.news_l h3,.contractor_l h3,.forwarder_l h3,.travel_l h3{
    font-size: 0.3rem;
    color: #1c90fd;
    line-height: 0.7rem;
}
.exhibition_r,.Showground_r,.opening_time_r,.entrance_r,.organizer_r,.sponsor_r,.Supporters_r,._supporters_r,.news_r,.contractor_r,.forwarder_r,.travel_r{
    font-size: 0.22rem;
    line-height: 0.38rem;
    width: calc(100% - 2.5rem);
    float: right;
}
.exhibition_r p,.Showground_r p,.opening_time_r p,.entrance_r p,.organizer_r p,.sponsor_r p,.Supporters_r p,._supporters_r p,.news_r p,.contractor_r p,.forwarder_r p,.travel_r p{
    line-height: 0.7rem;
}
.colorblock{
    width: 100%;
    height: 0.68rem;
    background:#f0eff5 ;
}
.organizer_r_box{
    margin-top: 0.4rem;
}

/*-----------------日程--------------------*/
.itin_nav,.clip_nav{
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 35px;
    font-size: 0.2rem;
    background:#f0eff5;
}
.itin_nav .itin_nav_l,.clip_nav .clip_nav_l{
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
    height: 100%;
    border: 1px solid #21b7cf;
    border-right:none ;
}

.itin_nav .itin_nav_r,.clip_nav .clip_nav_r{
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
    border: 1px solid #21b7cf;
    border-left:none ;
}










._block{
    width: 100%;
    height: 0.66rem;
    position: relative;
    background:#f0eff5 ;
}
._block p{
    position: absolute;
    bottom: 0;
    font-size: 0.2rem;
    margin-left: 0.3rem;
}
.data_time_1{
    width: 100%;
    height: 2.4rem;
}
.data_time_1 ._col_block{
    width: 0.3rem;
    height: 2.4rem;
    float: left;
    background:#29b3d1;
}
.data_time_1 .data_list{
    width: calc(100% - 0.3rem);
    float: left;
    height: 2.4rem;
    padding: 0.3rem;
}
.data_time_1 .data_list h1{
    color: #2ab3d3;
}
.data_time_1 .data_list p{
    font-size: 0.3rem;
    line-height: 0.5rem;
}
._particulars{
    width: 100%;
    padding: 0.3rem 0 0 0;
}
._particulars .parpar_box,.par_list{
    width: 100%;
    padding: 0.1rem 0;
}
.par_list .par_l{
    display: block;
    width: 2.7rem;
    height: 0.5rem;
    float: left;
    color: #39bfd3;
    font-size: 0.30rem;
    text-align: right;
}
.par_list .par_r{
    display: block;
    float: left;
    width:calc(100% - 2.7rem);
    font-size: 0.25rem;
    line-height: 0.5rem;
    text-align: left;
    padding-left: 0.5rem;

}
.par_box .apply_for{
    width: 100%;
    height: 0.8rem;
    margin-top: 0.2rem;
    background: #b3b3b3;
    text-align: center;
    color: #fff;
    font-size: 0.38rem;
    line-height: 0.8rem;
    font-weight: 500;
}
/*------------票夹--------------*/
.clip_page{
    width: 100%;
    height: 100%;
}
.back{
    margin: 0.4rem  auto;
    width: 7rem;
    height: 10.58rem;
    background:url("../img/clip.png");
    background-size:100% ;
}
.back .qr_code{
    position: absolute;
    left: 50%;
    margin-left: -1.79rem;
    top:1rem;
    z-index: 9;
    width: 3.58rem;
    height: 3.58rem;
    background: #fff;
}
.back .cli_box{
   width:7rem;
    position: absolute;
    left: 0;
    top:5rem;
}


.cli_box,.cli_list{
    width: 100%;
    padding: 0.1rem 0;
}
.cli_list .cli_l{
    display: block;
    width: 2.7rem;
    height: 0.5rem;
    float: left;
    color: #fff;
    font-size: 0.25rem;
    text-align: right;
}
.cli_list .cli_r{
    display: block;
    float: left;
    color: #fff;
    width:calc(100% - 2.7rem);
    font-size: 0.22rem;
    line-height: 0.4rem;
    text-align: left;
    padding-left: 0.5rem;

}





























